<%= form_with model: @team do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :town %>
    <%= form.text_field :town %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>