<h1>Teams</h1>
<%= link_to "New team", new_team_path %>
<div id="teams">
  <% @teams.each do |team| %>
    <div>
      <%= team.name %> | <%= team.town %>
      <%= link_to "Show", team_path(team) %>
      <%= link_to "Edit", edit_team_path(team) %>
    </div>
  <% end %>
</div>
