<h1><%= @team.name %></h1>

<p>
  <strong>Town:</strong>
  <%= @team.town %>
</p>
<p>
    <strong>Town :</strong>
    <%= @team.town %>
</p>


<%= link_to "Back", teams_path %>
<%= link_to "Edit", edit_team_path(@team) %>